.zew{
    background-color: gray;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.wew{
    background-color: green;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    padding:5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* General data */
body{
    background-color: whitesmoke;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
}

.batton {
    background: rgba(144, 238, 144, 0.5);
    border: 1px solid darkgrey;
    width: 200px;
    color: black;
}

header{
    background-color: black;
    color: white;
    padding: 20px;
}

footer{
    background-color: black;
    color: white;
    padding: 10px 20px;
    bottom: 0px;
    min-width: 100%;
    position: fixed;
}

/* Form data */
.FormData {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.FormData input {
    margin-bottom: 4%;
}

.FormData button {
    width: 150px;
}

.ErrorDiv {
    color: red;
    font-size: large;
    font-weight: bold;
}

/* Logged in menu */
.menu {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

/* Table */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid lightgrey;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}